@model Team
@{
    ViewData["Title"] = "Edit";
}
<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <form asp-action="edit" method="post">
                <div class="mb-3">
                    <label asp-action="Title" class="form-label">Title</label>
                    <input asp-for="Title" type="text" class="form-control" id="title">
                    <span class="text-danger" asp-validation-for="Title"></span>
                </div>
                <div class="mb-3">
                    <label asp-action="Desc" class="form-label">Desc</label>
                    <input asp-for="Desc" type="text" class="form-control" id="desc">
                    <span class="text-danger" asp-validation-for="Desc"></span>
                </div>
                <div class="mb-3">
                    <label asp-action="FullNmae" class="form-label">FullName</label>
                    <input asp-for="FullName" type="text" class="form-control" id="fullname">
                    <span class="text-danger" asp-validation-for="FullName"></span>
                </div>
                <div class="mb-3">
                    <label asp-action="Profession" class="form-label">Profession</label>
                    <input asp-for="Profession" type="text" class="form-control" id="profession">
                    <span class="text-danger" asp-validation-for="Profession"></span>

                </div>
                <div class="mb-3">
                    <label asp-action="TwitUrl" class="form-label">TwitUrl</label>
                    <input asp-for="TwitUrl" type="text" class="form-control" id="twiturl">
                    <span class="text-danger" asp-validation-for="TwitUrl"></span>
                </div>
                <div class="mb-3">
                    <label asp-action="FbUrl" class="form-label">FbUrl</label>
                    <input asp-for="FbUrl" type="text" class="form-control" id="fburl">
                    <span class="text-danger" asp-validation-for="FbUrl"></span>
                </div>
                <div class="mb-3">
                    <label asp-action="InsUrl" class="form-label">InsUrl</label>
                    <input asp-for="InsUrl" type="text" class="form-control" id="insurl">
                    <span class="text-danger" asp-validation-for="InsUrl"></span>
                </div>
                <div class="mb-3">
                    <label asp-action="LinkUrl" class="form-label">LinkUrl</label>
                    <input asp-for="LinkUrl" type="text" class="form-control" id="linkurl">
                    <span class="text-danger" asp-validation-for="LinkUrl"></span>
                </div>
                <div class="mb-3">
                    <label asp-action=" ImageFiles" class="form-label">ImageFiles</label>
                    <input asp-for="ImageFiles" class="form-control" id="linkurl">
                    <span class="text-danger" asp-validation-for="ImageFiles"></span>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

        </div>

    </div>
</div>


